@charset "UTF-8";
    footer{
			padding: 0px;
			height: 410px;
			background-color: beige;
		}
        #ft-div1{
            padding-top:30px;
		}

        #ft-div1 ul{
            position:absolute;
            margin-left:10px;
            padding-left:40px;
            padding-top:20px;
        }
		#ft-div2{
        	position: absolute;
        	font-size: 13px;
        	margin-top: 210px;
            padding-top: 30px;
            padding-right: 390px;
            border-top:1px solid gray;
        }

	    #ft-Bogo,#ft-info,#ft-community,#ft-mypage{
            width: 200px;
            float: left;
		}
		#ft-Bogo{
            margin-left:200px;
			width:165px;
		}
		footer h4{
			margin-top: 10px;
			margin-left: 40px;
            
		}
        footer li{
        	margin: 0;
        	padding-bottom: 10px;
        	size: 10px;
            list-style: none;
        }
        footer li a{
        	font-size: 15px;
        	color:grey;
        	text-decoration: none;
        }
        #ft-div2 p{
        	padding: 0px;
        	margin-left: 240px;
        	color: gray;
        }