@charset "UTF-8";

#login-form {
    width: 300px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;
    box-sizing: border-box;
  	border-radius: 5px;
    
}

#login-form img {
    height: 80px;
    width: 160px;
    border-radius:9px;
    margin:30px 0px 20px 10px;
    padding:10px;
   	background-color: rgba(152, 175, 240);
}
#login-form hr{
  margin-bottom:20px;
}
#diflogin-form {
    padding: 0px;
}    
 
#text-field {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      margin-bottom: 10px;
 
}
 
#submit-btn {
  font-size: 14px;
  border: none;
  padding: 10px;
  width: 260px;
  background-color: #1BBC9B;
  margin-bottom: 30px;
  color: white;
}

#another-btn{
	font-size: 14px;
    border: none;
    padding: 20px;
    width: 200px;
    background-color: gray;
    margin-bottom: 10px;
    color: white;
    
    
}
#exit-btn{
     float: right;
     margin-bottom: 10px;
}        
 
#links {
    text-align: center;
}
 
#links a {
  font-size: 12px;
  color: #9B9B9B;
}