@charset "UTF-8";
/* 사이트 부팅시 첫 화면 */
#home {
      width: 100%;
      height: 1100px; 
      /* background-color:green; */
}

#home p {
      position: relative;
      margin: 10px 10px 20px 30px;
      font-size: 24px;
}

#all-contents {
      padding-top: 150px;
      height: 320px;
}

#contents img {
      width: 250px;
      height: 337px;
      float: left;
      margin: 0px 10px 30px 30px;
      position: relative;
      background-color: oldlace;
}

/*email_page*/
#email_page {
	padding-top: 200px;
	margin-left: 250px;
	background-color: white;
	border: 1px solid black;
}

#email_page h2 {
      margin-bottom: 40px;
      text-align: center;
}

#mail-container {
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

#mail-tbl {
	width: 80%;
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#btn-container {
	display: flex;
	justify-content: flex-end;
	height: 5%;
	padding-top: 0.3%;
	padding-left: 0.2%;
}

#mail-btn {
	width: 10%;
	height: 80%;
	background-color: #d5d5d5;
	color: white;
	border: 1px solid lightgray;
	border-radius: 3px;
	font-weight: bold;
}

.mail-input {
	width: 100%;
	height: 100%;
	border: none;
}

.mail-txtarea {
	border: none;
	width: 100%;
	height: 100%;
}

.mail-input-div {
	border-bottom: 1px solid lightgray;
	width: 100%;
	height: 3%;
}

.mail-txtarea-div {
	border-bottom: 1px solid lightgray;
	width: 100%;
	height: 35%;
}